body {
    margin: 0;
    text-align: center;
    font-family:
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.header2{
    text-align: center;
    color: #45b29a;
    font-size: 180%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
    
.topbox {
    background-color:#B7C4CF ;
    position: relative;
    padding-top:50px;

}

.midbox {
    background-color:#EEE3CB;
    width: auto;
    height: 200px;
}

.bottombox {
    background-color:#D7C0AE;
    width:auto;
    height: 200px;
}

.topcloud {
    position: absolute;
    right: 20px;
}
.bottomcloud {
    position: absolute;
}

